.video-camera-icon {
	width: 18px;
	height: 18px;

	svg {
		width: 100%;
		height: 100%;
	}
}

.video-camera-green-icon {
	width: 24px;
	height: 24px;

	svg {
		width: 100%;
		height: 100%;
	}
}

.video-camera-green-icon-special {
	width: 56px;
	height: 56px;

	svg {
		width: 100%;
		height: 100%;
	}
}
