.arrow-icon {
	width: 5px;
	height: 10px;
	margin-left: 190px;
	font-weight: 600;
	svg {
		width: 100%;
		height: 100%;
	}
}

.arrow-icon:hover {
	background: white;
	background-color: white;
	color: white;
}
