@import '~stassets/styles/index.scss';

.content {
	margin-left: getpx(28);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.icon {
	margin-left: auto;
	margin-right: getpx(16);
}

.title {
	width: 70%;
	@include text-trunk;
}

.overlay {
	:global {
		.ant-popover .ant-popover-arrow {
			z-index: -1;
		}
	}
}
