@import '~stassets/styles/index.scss';

.scroll {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: getpx(24);
}

.structural-item-face-info {
	margin-right: getpx(16);
	margin-bottom: getpx(16);
}
