@import '~stassets/styles/index.scss';

:global {
	.ant-modal-content {
		background-color: #fff;
	}

	.ant-modal-body {
		display: flex;
	}

	.ant-modal-footer {
		border: 1px solid #e8e8e8;
	}
}

.delete-file-record-content {
	font-size: 16px;

	.delete-file-record-label {
		margin-right: 10px;
	}
}

.upload-record-wrap {
	height: 100%;
}

.content-delete,
.content-check {
	display: inline-block;
	width: 80px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: $card-radius;
	cursor: pointer;
	// opacity: 0.4993;
}

.content-delete {
	margin-right: 8px;
	border: 1px solid rgba(255, 60, 47, 1);
	color: rgba(255, 60, 47, 1);
}

.content-check {
	border: 1px solid $component-foreground-color;
	color: $component-foreground-color;
}

.content-title {
	height: getpx(48);
	line-height: getpx(48);
	margin-bottom: getpx(24);
	padding-left: getpx(16);
	border-bottom: 1px solid $dark-gray;
	font-size: getpx(18);
	font-weight: 500;
	color: $text-color;
}

.source-name {
	max-width: 200px;
	@include text-trunk();
}

.content-filter {
	position: relative;
	margin-bottom: getpx(24);
	animation: slowShow 0.2s;

	.content-date {
		width: 234px;
		border-radius: $card-radius;
	}

	.search-input {
		position: absolute;
		top: 0;
		right: 24px;
		width: getvw(520);
		// background: $dark-gray;
		background: #f2f4f5;
		border-radius: $card-radius;
		// border: 1px solid $dark-gray;
	}
}

.content-table-container {
	height: calc(100% - 40px - 48px - 48px);
	animation: slowShow 0.2s;

	.content-table {
		overflow-y: scroll;
		height: calc(100% - 40px);
	}
}

.upload-pagination-container {
	// position: absolute;
	// bottom: 24px;
	// left: 0;
	// right: 0;
}

.upload-pagination {
	// margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes slowShow {
	from {
		transform: scale(0);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}
