.zip-icon {
	width: 16px;
	height: 14px;

	svg {
		width: 100%;
		height: 100%;
	}
}

.zip-red-icon {
	width: 24px;
	height: 24px;

	svg {
		width: 100%;
		height: 100%;
	}
}

.zip-red--special-icon {
	width: 56px;
	height: 56px;

	svg {
		width: 100%;
		height: 100%;
	}
}
