@import '~stassets/styles/index.scss';

.file-item {
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: #f2f4f5;
	border-radius: getpx(18);
	padding: 0 getpx(6) 0 getpx(18);

	&:hover {
		background-color: $background-color-hover;
	}
}

.file-name-and-error {
	margin-right: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 50%;
}

.file-name-error {
	color: #ff3c2f;
	flex: 0 0 50%;
	@include text-trunk();
}

.file-size {
	margin-left: auto;
	margin-right: 16px;
}
