@import '~stassets/styles/index.scss';

.module-group-setting {
	height: 600px;
	width: 600px;
	:global {
		.ant-modal {
			height: 600px;
		}
		.ant-modal-header {
			border-bottom: 0;
			background: $component-background-color;
			box-shadow: 0 -1px 0 0 $dark-gray;
			border-radius: $card-radius $card-radius 0 0;
		}
		.ant-modal-title {
			color: $text-second-color;
		}
		.ant-modal-body {
			background: $background-color;
			text-align: left;
		}
		.ant-modal-footer {
			background: $background-color;
			border-top: 0;
		}
		// .ant-input {
		// 	background: $background-color;
		// }
		.ant-select {
			width: 631;
		}
	}
}
