@import '~stassets/styles/index.scss';

.car-item {
	padding: getpx(12) getpx(16);
	background-color: #161b2b;
	// box-shadow: 0 0 24px 0 #04070d;
	position: relative;
	display: flex;

	.car-attribute-item {
		width: getpx(150);
		height: getpx(120);
		margin-right: getpx(0);
		flex: 0 0 auto;
	}
}

.other-info {
	margin-left: getpx(12);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: getpx(100);
	height: getpx(120);
}

.structural-car-attribute-item {
	display: flex;
}

.structural-car-attribute-item-title {
	margin-right: getpx(8);
	flex: 0 0 40px;
}

.structural-car-attribute-item-value {
	@include text-trunk();
}
