@import '~stassets/styles/index.scss';

.header-bar {
	// padding: 0 20px 0 45px;
	display: flex;
	@include enable-zindex();

	z-index: $low-layer-index;
}

.app-content {
	padding: 0;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	z-index: 0;
	// overflow-y: scroll;
}
