@import '~stassets/styles/index.scss';

.structural-item-body {
	border-radius: $card-radius;
	margin-right: 16px;
	margin-bottom: 10px;
	// border: 1px solid rgba(2, 120, 255, 0.5);
	// width: getvmin(60);
	// height: getvmin(120);
	width: getpx(50);
	height: getpx(100);

	&.big-body {
		// width: getvmin(140);
		// height: getvmin(280);
		width: getpx(100);
		height: getpx(200);
	}
}
