@import '~stassets/styles/index.scss';
.setting-icons {
	position: relative;
	width: getvw(263);
	height: getvh(28);
	// text-align: right;
	display: flex;
	// flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.setting-unit-name {
	width: 100px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	margin-right: getvw(80);
	display: inline-block;
}
.setting-add-icon,
.setting-edit-icon,
.setting-delete-icon {
	width: getvw(18);
	height: getvh(18);
	margin-left: 5px;
	svg {
		width: 100%;
		height: 100%;
	}
}
